.wrapper {
  text-align: left;
}
.buttons {
  text-align: center;
}

#eduControls {
  display: none;
  justify-content: center;
}

#boardStats {
  margin-top: 15px;
  text-align: center;
}

.inline {
  display: inline-flex;
  align-content: stretch;
  margin: 0;
  padding: 15px;
  width: 100%;
}
#educationalData {
  padding-left: 20px;
  width: 100%;
}
#educationalData div,
#educationalData pre {
  height: 49%;
  width: 100%;
  background-color: rgb(175, 175, 175);
  padding: 12px 9px;
  border-radius: 5px;
}

#educationalData div {
  margin-bottom: 2%;
}

#logList,
#educationalData pre {
  overflow: auto;
  max-height: 175px;
  min-height: 175px;
}

#desc {
  min-height: 175px;
  background-color: rgb(175, 175, 175);
  padding: 12px 9px;
  border-radius: 5px;
  margin: 15px;
}

.ideal {
  color: rgba(51, 0, 255);
}
.swap {
  color: rgba(255, 0, 51);
}
.compare {
  color: rgba(204, 0, 204);
}
.select {
  color: rgba(51, 0, 255);
}
