/*global styles and classes*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  font-family: arial;
}

.container,
.animationControl {
  margin: 15px;
}

/* header styles */
nav header {
  width: 100%;
  padding: 24px;

  text-align: center;
  background-color: rgba(51, 0, 255, 0.85);
  color: #fff;
}

nav header h1 {
  font-size: 2em;
  letter-spacing: 1.1px;
}
nav div {
  padding: 12px 0px;
  text-align: center;
  background-color: #eee;
}
nav div a {
  margin: 0 20px;
}

.wrapper {
  margin: 40px auto;
  text-align: center;
}

/*button styles*/
button,
input[type="button"],
select {
  background-color: #3333aa;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover,
input[type="button"]:hover,
select:hover {
  background-color: #0000aa;
}

/* Animation time controls Styles*/
.animationControl label {
  font-size: 20px;
  color: rgba(51, 0, 255, 0.8);
}
#animationTime {
  appearance: none;
  width: 300px;
  height: 6px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background-color: rgba(51, 0, 255, 0.85);
  box-shadow: 0px 0px 1px #fff, inset 0px 0px 1px #ddd;
}

#timeValue {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  padding: 3px 20px;
  margin-left: 10px;
  color: rgba(51, 0, 255, 0.6);
  border: 2px solid rgba(51, 0, 255, 0.6);
}


.flex {
  display: flex;
  justify-content: space-around;
}
